<!doctype html>
<!--[if IE 8]> <html lang="en-US" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en-US" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en-US" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Phalcon Cheat Sheet</title>

    <meta name="description" content="Phalcon Cheat Sheet — Codes, functions, methods of Phalcon Framework">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/monokai_sublime.css">
    <link rel="stylesheet" href="assets/css/style.css?v=0.0.1">
</head>
<body data-spy="scroll" data-target="#sidebar">
<a href="https://github.com/mctekk/phalcon-cheat-sheet" target="_blank">
    <img class="fork-me" src="assets/images/forkme_right_green_007200.png.png" alt="Fork me on GitHub">
</a>

	<div class="header">
        <a href="http://www.phalconphp.com/en">
            <span class="logo-text">Phalcon cheat sheet</span>
        </a>
    </div>
    <div class="row container">
        <div class="col-xs-2 clearfix" id="sidebar">
            <ul class="nav" id="sections-list">
                <li class="active">
                    <a href="#section-1">MVC</a>
                </li>
                <li><a href="#section-2">ORM</a></li>
                <li><a href="#section-3">ODM for Mongo</a></li>
                <li><a href="#section-4">Template Engine (Volt)</a></li>
                <li><a href="#section-5">DI/IOC</a></li>
                <li><a href="#section-6">Events Management</a></li>
                <li><a href="#section-7">Encryption</a></li>
                <li><a href="#section-8">HTTP Request</a></li>
                <li><a href="#section-9">Response</a></li>
                <li><a href="#section-10">Cookies</a></li>
                <li><a href="#section-11">Escaping</a></li>
                <li><a href="#section-12">Filtering</a></li>
                <li><a href="#section-13">Forms Builder</a></li>
                <li><a href="#section-14">Validation</a></li>
                <li><a href="#section-15">Flash Messages</a></li>
                <li><a href="#section-16">Cache</a></li>
                <li><a href="#section-17">Pagination</a></li>
                <li><a href="#section-18">Annotations</a></li>
                <li><a href="#section-19">Security</a></li>
                <li><a href="#section-20">Translations</a></li>
                <li><a href="#section-21">Assets Management</a></li>
                <li><a href="#section-22">Universal Auto-Loader</a></li>
                <li><a href="#section-23">Logging</a></li>
                <li><a href="#section-24">CLI</a></li>
            </ul>
        </div>
        <div class="col-xs-10">

            <!-- BEGIN MVC -->
            <h2 id="section-1"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/applications.html">¶</a> MVC</h2>
            <pre>
                <code class="php">
// Setting route file on service
$di->set('router', function()
{
    return include __DIR__ . '[route file]';
}, true);

// Create custom routes - index.php
$application->useImplicitView(false);

// Grouping routes under same controller
$group = new \Phalcon\Mvc\Router\Group([
    'namespace' => '[namespace separed with double \\]',
    'controller' => '[controller name]',
]);

// All the routes start with /group
$group->setPrefix('/group');

// Adding route to group
$group->add('[route]', ['action' => '[method]'])->setName('[keyword]');
$router->mount($group);

// Getting parameters using dispatcher service
$this->dispatcher->getParam('[parameter]');

// Ways to define a route
$router->add(
    '[route]',
    array(
        'controller' => '[controller name]',
        'action' => '[method name]',
    )
);

// Single flexible route
$router->add(
    '/admin/:controller/a/:action/:params',
    array(
        'controller' => 1,
        'action' => 2,
        'params' => 3,
    )
);


// Flexible route with parameters with name
$router->add(
    '/news/([0-9]{4})/([0-9]{2})/([0-9]{2})/:params',
    array(
        'controller' => 'posts',
        'action' => 'show',
        'year' => 1, // ([0-9]{4})
        'month' => 2, // ([0-9]{2})
        'day' => 3, // ([0-9]{2})
        'params' => 4, // :params
    )
);

// Route with parameters with name
$router->add(
    '/documentation/{chapter}/{name}.{type:[a-z]+}',
    array(
        'controller' => 'documentation',
        'action'     => 'show'
    )
);

// Short form using statics
$router->add("/posts/{year:[0-9]+}/{title:[a-z\-]+}", "Posts::show");

// Array form
$router->add(
    "/posts/([0-9]+)/([a-z\-]+)",
    array(
       "controller" => "posts",
       "action"     => "show",
       "year"       => 1,
       "title"      => 2,
    )
);

// This route only will be matched if the HTTP method is GET
$router->addGet("/products/edit/{id}", "Products::edit");

// This route only will be matched if the HTTP method is POST
$router->addPost("/products/save", "Products::save");

// This route will be matched if the HTTP method is POST or PUT
$router->add("/products/update")->via(array("POST", "PUT"));

// Getting the processed controller
$router->getControllerName();

// Getting the processed action
$router->getActionName();

//Get the matched route
$route = $router->getMatchedRoute();

// Generate a link with predefined route
$this->url->get(['for' => '<route keyword>', 'paramN' => $paramN]);
                </code>
            </pre>
            <hr>
            <!-- END MVC -->

            <!-- BEGIN DISPATCHING -->
            <h2><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/dispatching.html">¶</a> Dispatching Controllers</h2>
            <pre>
                <code class="php">
// Forward flow to the index action
$this->dispatcher->forward(array(
    "controller" => "post",
    "action" => "index"
));

// Forward flow to another action in the current controller
$this->dispatcher->forward(array(
    "action" => "search"
));

// Forward flow to another action in the current controller passing parameters
$this->dispatcher->forward(array(
    "action" => "search",
    "params" => array(1, 2, 3)
));

// Get the post's title passed in the URL as parameter or prepared in an event
$title = $this->dispatcher->getParam('param');
                </code>
            </pre>
            <!-- END DISPATCHING -->
            <hr>

            <!-- BEGIN MICRO -->
            <h2><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/dispatching.html">¶</a> Micro applications</h2>
            <pre>
                <code class="php">
// Without controller
$application->get('/', function(){
    echo 'Your app it\'s up';
});

// Using controller, same for get|post|put|delete
$application->post('[route]', [
    [instance of your controller]
    '[method]'
]);

// Not found route
$app->notFound(function () use ($app) {
    $app->response->setStatusCode(404, "Not Found")->sendHeaders();
    echo 'This is crazy, but this page was not found!';
});
                </code>
            </pre>
            <hr>
            <!-- END MICRO -->

            <!-- BEGIN ORM -->
            <h2 id="section-2"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/models.html">¶</a> ORM</h2>
            <pre>
                <code class="php">

// Find record by its primary id = 3
$robot = Robots::findFirst(3);

// Find one record with conditions + bind params and all phalcon options
$robots = Robots::findFirst([
            "columns" => "id, name",
            "conditions" => "type = ?1",
            "bind"       => [1 => "virtual"],
            "order" => "id DESC" ,
            "limit" => "limit" => 10 / "limit" => ["number" => 10, "offset" => 5],
            "group" => "name, status",
            "cache" => array("lifetime" => 3600, "key" => "my-find-key"),
           ]);

// Find all record with  conditions + bind params and all phalcon options
$robots = Robots::find([
            "columns" => "id, name",
            "conditions" => "type = ?1",
            "bind"       => [1 => "virtual"],
            "order" => "id DESC" ,
            "limit" => "limit" => 10 / "limit" => ["number" => 10, "offset" => 5],
            "group" => "name, status",
            "cache" => array("lifetime" => 3600, "key" => "my-find-key"),
           ]);

// Using any Models Query Builder
$model::query()
    ->where('field = :bindparam:')
    ->andWhere( "field2 = '1' ")
    ->bind( ['bindparam' => '2'] )
    ->order('field ASC')
    ->limit(10)
    ->cache(['key' => 'optionalifyouwant' , 'lifetime' => 'optionalalso'])
    ->execute();

// Catch Save / Update Model Exceptions
$model = new News();
$model->title = 'Update Phalcon is the fastest php framework';
$model->content = 'Use version 1.3+ or v2';

if (!$model->save())
{
    //messages
    foreach ($model->getMessages() as $message)
    {
        //throw error
       throw new Exception($message);

       //or flash message in controller
       $this->flash->error($message);

    }
}

// Validate if we have records
if($robots) if no records found it returns false

// Count the result set para saber si trajo algo
$robots->count();

                </code>
            </pre>
            <hr>
            <!-- END ORM -->


            <!-- BEGIN ODM -->
            <h2 id="section-3"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/odm.html">¶</a> ODM for Mongo</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END ORM -->

            <!-- BEGIN VOLT -->
            <h2 id="section-4"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/volt.html">¶</a> Template Engine (Volt)</h2>
            <pre>
                <code class="php">

// Registering Volt as template engine
$di->set('view', function() {
    $view = new \Phalcon\Mvc\View();
    $view->setViewsDir('../app/views/');
    $view->registerEngines(array(
        ".volt" => 'Phalcon\Mvc\View\Engine\Volt'
    ));
    return $view;
});

{# Variables #}

{# for $post->title #}
{{ post.title }}

{# for $post['title'] #}
{{ post['title'] }}


{# Filters #}

{# e or escape filter #}
{{ "&lt;h1&gt;Hello&lt;/h1&gt;"|e }}
{{ "&lt;h1&gt;Hello&lt;/h1&gt;"|escape }}

{# trim filter #}
{{ "   hello   "|trim }}

{# striptags filter #}
{{ "&lt;h1&gt;Hello&lt;/h1&gt;"|striptags }}

{# slashes filter #}
{{ "'this is a string'"|slashes }}

{# stripslashes filter #}
{{ "\'this is a string\'"|stripslashes }}

{# capitalize filter #}
{{ "hello"|capitalize }}

{# lower filter #}
{{ "HELLO"|lower }}

{# upper filter #}
{{ "hello"|upper }}

{# length filter #}
{{ "robots"|length }}
{{ [1, 2, 3]|length }}

{# nl2br filter #}
{{ "some\ntext"|nl2br }}

{# sort filter #}
{% set sorted=[3, 1, 2]|sort %}

{# keys filter #}
{% set keys=['first': 1, 'second': 2, 'third': 3]|keys %}

{# json_encode filter #}
{% robots|json_encode %}

{# json_decode filter #}
{% set decoded='{"one":1,"two":2,"three":3}'|json_decode %}

{# url_encode filter #}
{{ post.permanent_link|url_encode }}

{# convert_encoding filter #}
{{ "désolé"|convert_encoding('utf8', 'latin1') }}


{# Comments #}
{# note: this is a comment
    {% set price = 100; %}
#}


{# Loops #}

{# Loop for #}
{% for robot in robots %}
    {{ robot.name|e }}
{% endfor  %}

{# Loop for with keys #}
{% for key, value in robots %}
    {{ value.name|e }}
{% endfor  %}

{# Loop with else condition #}
{% for key, value in robots %}
    {{ value.name|e }}
{% else %}
    There are no robots to show
{% endfor  %}

{# Break loop control #}
{% break %}

{# If statement #}
{% if robot.type == "cyborg" %}
    {{ robot.name|e }}
{% endif %}

{# If else statement #}
{% if robot.type == "cyborg" %}
    {{ robot.name|e }}
{% else %}
    {{ robot.name|e }} (not a cyborg)
{% endif %}

{# Elseif statement #}
{% if robot.type == "cyborg" %}
    {{ robot.name|e }}
{% elseif robot.type == "virtual" %}
    Robot is virtual
{% elseif robot.type == "mechanical" %}
    Robot is mechanical
{% else %}
    {{ robot.name|e }} (not a cyborg)
{% endif %}


{# Loop context #}

{# The current iteration of the loop. (1 indexed) #}
loop.index

{# The current iteration of the loop. (0 indexed) #}
loop.index0

{# The number of iterations from the end of the loop (1 indexed) #}
loop.revindex

{# The number of iterations from the end of the loop (0 indexed) #}
loop.revindex0

{# True if in the first iteration. #}
loop.first

{# True if in the last iteration. #}
loop.last

{# The number of items to iterate #}
loop.length

{# Setting values to var #}
{% set fruits = ['Apple', 'Banana', 'Orange'] %}
{% set name = robot.name %}

{# Multiple assignments #}
{% set fruits = ['Apple', 'Banana', 'Orange'], name = robot.name, active = true %}

{# Compound assignment #}
{% set price += 100.00 %}
{% set age *= 5 %}

{# Simple expression #}
{{ (1 + 1) * 2 }}

{# Expression evaluated without be printed #}
{% do (1 + 1) * 2 %}


{# Arrays #}

{# Simple array #}
{{ ['Apple', 'Banana', 'Orange'] }}

{# Other way simple array #}
{{ ['Apple', 1, 2.5, false, null] }}

{# Multidimensional array #}
{{ [[1, 2], [3, 4], [5, 6]] }}

{# Hash-style array #}
{{ ['first': 1, 'second': 4/2, 'third': '3'] }}

{# Curly braces to define arrays #}
{% set myArray = {'Apple', 'Banana', 'Orange'} %}


{# Operators #}

{# Return true if the left or right operand is evaluated as true #}
or

{# Return true if both left and right operands are evaluated as true #}
and

{# Negates an expression #}
not

{# Parenthesis groups expressions #}
(expr)

{# Concatenates both operands {{ “hello ” ~ “world” }} #}
~

{# Applies a filter in the right operand to the left {{ “hello”|uppercase }} #}
|

{# Creates a range {{ ‘a’..’z’ }} {{ 1..10 }} #}
..

{# Same as == (equals), also performs tests #}
is

{# To check if an expression is contained into other expressions if “a” in “abc” #}
in

{# Same as != (not equals) #}
is not

{# Ternary operator. The same as the PHP ternary operator #}
‘a’ ? ‘b’ : ‘c’

{# Increments a value #}
++

{# Decrements a value #}
--


{# Built-in tests available #}

{# Checks if a variable is defined (isset) #}
defined

{# Checks if a variable is empty #}
empty

{# Checks if a numeric value is even #}
even

{# Checks if a numeric value is odd #}
odd

{# Checks if value is numeric #}
numeric

{# Checks if value is scalar (not an array or object) #}
scalar

{# Checks if a value is iterable. Can be traversed by a “for” statement #}
iterable

{# Checks if a value is divisible by other value #}
divisibleby

{# Checks if a value is identical to other value #}
sameas

{# Checks if a value is of the specified type #}
type


{# Macros #}

{%- macro related_bar(related_links) %}
    {# Generate html links #}
{%- endmacro %}

{# Print related links #}
{{ related_bar(links) }}


{# Tag Helpers #}

{# Include js file #}
{{ javascript_include("js/jquery.js") }}

{# Tags helpers #}
Phalcon\Tag::linkTo                     link_to()
Phalcon\Tag::textField                  text_field()
Phalcon\Tag::passwordField              password_field()
Phalcon\Tag::hiddenField                hidden_field()
Phalcon\Tag::fileField                  file_field()
Phalcon\Tag::checkField                 check_field()
Phalcon\Tag::radioField                 radio_field()
Phalcon\Tag::dateField                  date_field()
Phalcon\Tag::emailField                 email_field()
Phalcon\Tag::numberField                number_field()
Phalcon\Tag::submitButton               submit_button()
Phalcon\Tag::selectStatic               select_static()
Phalcon\Tag::select                     select()
Phalcon\Tag::textArea                   text_area()
Phalcon\Tag::form                       form()
Phalcon\Tag::endForm                    end_form()
Phalcon\Tag::getTitle                   get_title()
Phalcon\Tag::stylesheetLink             stylesheet_link()
Phalcon\Tag::javascriptInclude          javascript_include()
Phalcon\Tag::image                      image()
Phalcon\Tag::friendlyTitle              friendly_title()


{# Functions #}

{# Includes the content produced in a previous rendering stage #}
content

{# Same as ‘content’ #}
get_content

{# Dynamically loads a partial view in the current template #}
partial

{# Render the contents of the parent block #}
super

{# Calls the PHP function with the same name #}
time

{# Calls the PHP function with the same name #}
date

{# Calls the PHP function ‘var_dump’ #}
dump

{# Returns the current version of the framework #}
version

{# Reads a PHP constant #}
constant

{# Generate a URL using the ‘url’ service #}
url


{# View Integration #}

{# Simple include of a partial #}
{{ partial("partials/footer") }}

{# Passing extra variables #}
{{ partial("partials/footer", ['links': $links]) }}

{# Simple include of a partial #}
{% include "partials/footer" %}

{# Passing extra variables #}
{% include "partials/footer" with ['links': links] %}


{# Template Inheritance  #}

{# Blocks for hierarchy #}

{# templates/base.volt #}
{% block head %}
    {# Your content here #}
{% endblock %}

{# templates/index1.volt #}
{% extends "templates/base.volt" %}
{% block head %}
    {# Include this in head #}
{% endblock %}

{# Keep values from father #}
{{ super() }}


{# Autoescape mode #}

{# Autoescaped true #}
{% autoescape true %}
    {# code here #}
{% endautoescape %}

{# Autoescaped false #}
{% autoescape false %}
    {# code here #}
{% endautoescape %}

{# Caching view fragments #}

{# Cache view #}
{% cache "sidebar" %}
    <!-- generate this content is slow so we are going to cache it -->
{% endcache %}

{# cache the sidebar by 1 hour #}
{% cache "sidebar" 3600 %}
    <!-- generate this content is slow so we are going to cache it -->
{% endcache %}

{# Cache with expresion #}
{% cache ("article-" ~ post.id) 3600 %}
    <!-- generate this content is slow so we are going to cache it -->
{% endcache %}


{# Inject service #}

{# Inject the 'flash' service #}
{{ flash.output() }}
                </code>
            </pre>
            <hr>
            <!-- END VOLT -->

            <!-- BEGIN DI/IOC -->
            <h2 id="section-5"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/di.html">¶</a> DI/IOC</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END DI/IOC -->

            <!-- BEGIN EM -->
            <h2 id="section-6"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/events.html">¶</a> Events Management</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END EM -->

            <!-- BEGIN ENCRYPTION -->
            <h2 id="section-7"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/crypt.html">¶</a> Encryption</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END ENCRYPTION -->

            <!-- BEGIN HTTP -->
            <h2 id="section-8"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/request.html">¶</a> HTTP Request</h2>
             <pre>
                <code class="php">
// Verify if its Post or Ajax request
$request = new Phalcon\Http\Request();
if ($request->isPost()) {
    if ($request->isAjax()) {
            echo 'Request was made using POST and AJAX';
    }
}

// Gets a variable from the $_REQUEST superglobal applying filters if needed. If no parameters are given the $_REQUEST superglobal is returned

//Returns value from $_REQUEST["user_email"] without sanitizing
$userEmail = $request->get("user_email");

//Returns value from $_REQUEST["user_email"] with sanitizing
$userEmail = $request->get("user_email", "email");

// Gets a variable from the $_POST superglobal applying filters if needed If no parameters are given the $_POST superglobal is returned

//Returns value from $_POST["user_email"] without sanitizing
$userEmail = $request->getPost("user_email");

//Returns value from $_POST["user_email"] with sanitizing
$userEmail = $request->getPost("user_email", "email");

// Gets a variable from put request

$userEmail = $request->getPut("user_email");

$userEmail = $request->getPut("user_email", "email");

// Gets variable from $_GET superglobal applying filters if needed If no parameters are given the $_GET superglobal is returned

//Returns value from $_GET["id"] without sanitizing
$id = $request->getQuery("id");

//Returns value from $_GET["id"] with sanitizing
$id = $request->getQuery("id", "int");

//Returns value from $_GET["id"] with a default value
$id = $request->getQuery("id", null, 150);

// Gets HTTP header from request data

$request->getHeader('Name');

// Gets information about schema, host and port used by the request

$request->getClientAddress();

// Checks whether HTTP method is POST. if $_SERVER[‘REQUEST_METHOD’]==’POST’ || GET || PUT || PATCH || HEAD || DELETE  || OPTIONS

$request->isPost();
$request->isGet();
$request->isPut();


                </code>
            </pre>
            <hr>
            <!-- END HTTP -->

            <!-- BEGIN RESPONSE -->
            <h2 id="section-9"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/response.html">¶</a> Response</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END RESPONSE -->

            <!-- BEGIN COOKIES -->
            <h2 id="section-10"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/cookies.html">¶</a> Cookies</h2>
            <pre>
                <code class="php">
// Check if cookie exists
$this->cookies->has("session-data");

// Get cookie by name
$myCookie = $this->cookies->get("session-data");

// Get the cookie attributes
$myCookie->getValue();         //value
$myCookie->getPath();          //site path
$myCookie->getName();          //cookie name
$myCookie->getExpiration();    //expire time (unix timestamp) int
$myCookie->getDomain();        //cookie domain
$myCookie->getHttpOnly();      //is http only
$myCookie->getSecure();        //is secured


/*
 * Set the cookie
 * Full set of params:
 * set(
 *      mixed $name,
 *      [mixed $value],
 *      [mixed $expire],
 *      [mixed $path],
 *      [mixed $secure],
 *      [mixed $domain],
 *      [mixed $httpOnly]
 * )
 */
$this->cookies->set(
    "session-data",
    "some value",
    time() + 3600
);

// Delete the cookie
$this->cookies->get("session-data")->delete();


// By default cookies are encrypted automatically

// Disable encryption
use Phalcon\Http\Response\Cookies;

$di->set(
    "cookies",
    function () {
        $cookies = new Cookies();

        $cookies->useEncryption(false);

        return $cookies;
    }
);

// Use encryption with own key in Crypt service
use Phalcon\Crypt;

$di->set(
    "crypt",
    function () {
        $crypt = new Crypt();

        $crypt->setKey('@2sdj8%%dp?.to/..j123D$'); // Use your own key!

        return $crypt;
    }
);

                </code>
            </pre>
            <hr>
            <!-- END COOKIES -->

            <!-- BEGIN ESCAPING -->
            <h2 id="section-11"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/escaper.html">¶</a> Escaping</h2>
            <pre>
                <code class="php">
use Phalcon\Escaper;

// Create an escaper
$escaper = new Escaper();

/*
 * Settings
 */

// Set the encoding to be used by the escaper
$escaper->setEncoding('utf-8');

// Set the HTML quoting type for htmlspecialchars
$escaper->setHtmlQuoteType(ENT_XHTML);

// Set the double_encode to be used by the escaper
$escaper->setDoubleEncode(false);

/*
 * Escaping examples
 */

$maliciousData = $_GET['data'];

// Escaping HTML
$secureData = $escaper->escapeHtml($maliciousParam);

// Escaping HTML Attributes
$secureData = $escaper->escapeHtmlAttr($maliciousParam);

// Escaping CSS
$secureData = $escaper->escapeCss($maliciousParam);

// Escaping JavaScript
$secureData = $escaper->escapeJs($maliciousParam);

// Escaping URLs
$secureData = $escaper->escapeUrl($maliciousParam);

/*
 * Useful functionality
 */

// Get the internal encoding used by the escaper
$escaper->getEncoding();

// Detect the character encoding of a string to be handled by an encoder Special-handling for chr(172) and chr(128) to chr(159) which fail to be detected by mb_detect_encoding()
$escaper->detectEncoding($maliciousParam)

// Utility to normalize a string’s encoding to UTF-32
$escaper->normalizeEncoding($maliciousParam)

                </code>
            </pre>
            <hr>
            <!-- END ESCAPING -->

            <!-- BEGIN FILTERING -->
            <h2 id="section-12"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/filter.html">¶</a> Filtering</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END FILTERING -->

            <!-- BEGIN FORM -->
            <h2 id="section-13"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/forms.html">¶</a> Forms Builder</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END FORM -->

            <!-- BEGIN VALIDATION -->
            <h2 id="section-14"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/validation.html">¶</a> Validation</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END VALIDATION -->

            <!-- BEGIN FLASH -->
            <h2 id="section-15"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/flash.html">¶</a> Flash Messages</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END FLASH -->

            <!-- BEGIN CACHE -->
            <h2 id="section-16"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/cache.html">¶</a> Cache</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END CACHE -->

            <!-- BEGIN PAGINATION -->
            <h2 id="section-17"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/pagination.html">¶</a> Pagination</h2>
            <pre>
                <code class="php">
// Current page from request
$currentPage = $this->request->getQuery('page', 'int', 1);


/*
 * Pagination for model
 */
...
use Phalcon\Paginator\Adapter\Model as PaginatorModel;
...
// The data from database to paginate
$articles = Articles::find();

$paginator = new PaginatorModel(
    [
        "data"  => $articles,
        "limit" => 3,
        "page"  => $currentPage
    ]
);



/*
 * Pagination for arrays
 */
...
use Phalcon\Paginator\Adapter\NativeArray as PaginatorArray;
...
// Passing an array as data
$paginator = new PaginatorArray(
    [
        "data"  => [
            ["id" => 1, "name" => "Article 1"],
            ["id" => 2, "name" => "Article 2"],
            ["id" => 3, "name" => "Article 3"]
        ],
        "limit" => 2,
        "page"  => $currentPage,
    ]
);



/*
 * Pagination for QueryBuilder
 */
...
use Phalcon\Paginator\Adapter\QueryBuilder as PaginatorQueryBuilder;
...
$builder = $this->modelsManager->createBuilder()
    ->columns("id, name")
    ->from("Articles")
    ->orderBy("name");

// Passing a QueryBuilder object as data
$paginator = new PaginatorQueryBuilder(
    [
        "builder" => $builder,
        "limit"   => 20,
        "page"    => $currentPage,
    ]
);


// Get the result for current page
$pageData = $paginator->getPaginate();

/*
 * $pageData has the following attributes:
 *
 * $pageData->items - your items from model per page (as much as %limit%)
 * $pageData->before - previous page
 * $pageData->next - next page
 * $pageData->last - last page
 * $pageData->current - current page
 * $pageData->total_pages - total number of pages
 * $pageData->total_items - total number of items
 *
 */
		        </code>
            </pre>
            <hr>
            <!-- END PAGINATION -->

            <!-- BEGIN ANNOTATIONS -->
            <h2 id="section-18"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/annotations.html">¶</a> Annotations</h2>
                        <pre>
                <code class="php">
/**
 * Simple Annotation
 *
 * @SomeAnnotation
 */

/**
 * Annotation with parameters
 *
 * @SomeAnnotation("hello", "world", 1, 2, 3, false, true)
 */

/**
 * Annotation with named parameters
 *
 * @SomeAnnotation(first="hello", second="world", third=1)
 * @SomeAnnotation(first: "hello", second: "world", third: 1)
 */

/**
 * Passing an array
 *
 * @SomeAnnotation([1, 2, 3, 4])
 * @SomeAnnotation({1, 2, 3, 4})
 */

/**
 * Passing a hash as parameter
 *
 * @SomeAnnotation({first=1, second=2, third=3})
 * @SomeAnnotation({'first'=1, 'second'=2, 'third'=3})
 * @SomeAnnotation({'first': 1, 'second': 2, 'third': 3})
 * @SomeAnnotation(['first': 1, 'second': 2, 'third': 3])
 */

/**
 * Nested arrays/hashes
 *
 * @SomeAnnotation({"name"="SomeName", "other"={
 *      "foo1": "bar1", "foo2": "bar2", {1, 2, 3},
 * }})
 */

/**
 * Nested Annotations
 *
 * @SomeAnnotation(first=@AnotherAnnotation(1, 2, 3))
 */

// A simple example of reading annotations

$reader = new \Phalcon\Annotations\Adapter\Memory();
$reflector = $reader->get('Example');
$annotations = $reflector->getClassAnnotations();

foreach ($annotations as $annotation) {
    echo $annotation->getName(), PHP_EOL;
    echo $annotation->numberArguments(), PHP_EOL;
    print_r($annotation->getArguments());
}
                </code>
                </pre>
            <hr>
            <!-- END ANNOTATIONS -->

            <!-- BEGIN SECURITY -->
            <h2 id="section-19"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/security.html">¶</a> Security</h2>
            <pre>
                <code class="php">
// Storing a hased password
use Phalcon\Mvc\Controller;

$user = new Users();

$username = $this->request->getPost('username');
$password = $this->request->getPost('password');

$user->username = $username;
$user->password = $this->security->hash($password);

$user->save();


// A basic example of validating a login attempt
use Phalcon\Mvc\Controller;

$username = $this->request->getPost('username');
$password = $this->request->getPost('password');

$user = Users::findFirst([
    conditions => "username = ?1",
    bind => [1 => $username]
]);

if ($user) {
    if ($this->security->checkHash($password, $user->password)) {
        // The password is valid
    }
}


// Setting a csrf token in a form
&lt;input type=&quot;hidden&quot; name=&quot;&lt;?=$this-&gt;security-&gt;getTokenKey()?&gt;&quot; value=&quot;&lt;?=$this-&gt;security-&gt;getToken()?&gt;&quot;/&gt;


// Checking a csrf token after a form submit
use Phalcon\Mvc\Controller;

if ($this->request->isPost()) {
    if ($this->security->checkToken()) {
        // The token is valid
    }
}

                </code>
            </pre>
            <hr>
            <!-- END SECURITY -->

            <!-- BEGIN TRANSLATE -->
            <h2 id="section-20"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/translate.html">¶</a> Translations</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END TRANSLATE -->

            <!-- BEGIN ASSETS -->
            <h2 id="section-21"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/assets.html">¶</a> Assets Management</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END ASSETS -->

            <!-- BEGIN LOADER -->
            <h2 id="section-22"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/loader.html">¶</a> Universal Auto-Loader</h2>
            <pre>
                <code class="php">
// Setting namespaces
$loader->registerNamespaces(
    array(
       'Store\Admin\Controllers'    => "../bundles/admin/controllers/",
       'Store\Admin\Models'    => "../bundles/admin/models/",
    )
);
                </code>
            </pre>
            <hr>
            <!-- END LOADER -->

            <!-- BEGIN LOGGING -->
            <h2 id="section-23"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/logging.html">¶</a> Logging</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END LOGGING -->

            <!-- BEGIN CLI -->
            <h2 id="section-24"><a class="headerlink" href="http://docs.phalconphp.com/en/latest/reference/cli.html">¶</a> CLI</h2>
            <i>Pending contribution...</i>
            <hr>
            <!-- END CLI -->

        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->
<script src="assets/js/highlight-8.4.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    hljs.initHighlightingOnLoad();
    $("#sections-list").affix({
        offset: {
            top: 0
        }
    });
});
	
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-1295854-10', 'auto');
ga('send', 'pageview');
</script>

</html>
